<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="catamaran_full">
    <xacro:arg name="gpu" default="true"/>
    <xacro:property name="gpu" value="$(arg gpu)"/>

    <xacro:include filename="$(find catamaran)/urdf/catamaran.urdf"/>
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <xacro:include filename="$(find realsense_ros_gazebo)/xacro/depthcam.xacro"/>

    <!-- <xacro:VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points" hz="10" samples="440" gpu="${gpu}">
        <origin xyz="0 -0.33 0.62" rpy="0 0 -1.5708" />
    </xacro:VLP-16> -->

    <xacro:realsense_d435 sensor_name="d435" parent_link="base_link" rate="10">
        <origin xyz="0 -0.38 0.58" rpy="0 0 -1.570796" />
    </xacro:realsense_d435>

    <gazebo>
        <plugin name="thruster_plugin" filename="libthruster_plugin.so">
          <link_name>base_footprint</link_name>
          <ros_topic>thruster_forces</ros_topic>
          <left_force_point>
            <xyz>0.558 0.550 -0.450</xyz>
          </left_force_point>
          <right_force_point>
            <xyz>-0.558 0.550 -0.450</xyz>
          </right_force_point>
        </plugin>
        <plugin name="VelocityPlugin" filename="libvelocity_plugin.so">
          <link_name>base_footprint</link_name>
          <ros_topic>cmd_vel</ros_topic>
          <odom_topic>odom</odom_topic>
        </plugin>
    </gazebo>
</robot>