<?xml version="1.0" encoding="utf-8"?>
<robot
  name="catamaran">
  <link name="base_footprint"/>
  <joint name="footprint_to_base_link" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1E-05 0.001002 0.20496"
        rpy="0 0 0" />
      <mass
        value="60.33169" />
      <inertia
        ixx="19.933"
        ixy="-0.01996"
        ixz="-0.00017"
        iyy="35.13"
        iyz="-0.33292"
        izz="17.351" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://catamaran/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://catamaran/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="l_thruster">
    <!-- <inertial>
      <origin
        xyz="0 0.0012259 0.13677"
        rpy="0 0 0" />
      <mass
        value="4.9984" />
      <inertia
        ixx="0.064215"
        ixy="2.3379E-18"
        ixz="5.6998E-20"
        iyy="0.063315"
        iyz="0.00053171"
        izz="0.064415" />
    </inertial> -->
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://catamaran/meshes/l_thruster.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://catamaran/meshes/l_thruster.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="base_to_l_thrruster"
    type="fixed">
    <origin
      xyz="0.55834 0.43963 -0.45538"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="l_thruster" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_thruster">
    <!-- <inertial>
      <origin
        xyz="0 0.0012259 0.13677"
        rpy="0 0 0" />
      <mass
        value="4.9984" />
      <inertia
        ixx="0.064215"
        ixy="1.5195E-18"
        ixz="-2.1053E-18"
        iyy="0.063315"
        iyz="0.00053171"
        izz="0.064415" />
    </inertial> -->
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://catamaran/meshes/r_thruster.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://catamaran/meshes/r_thruster.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="base_to_r_thruster"
    type="fixed">
    <origin
      xyz="-0.56166 0.43963 -0.45538"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="r_thruster" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="mount">
    <inertial>
      <origin
        xyz="-4.835E-17 0.12889 1.1102E-16"
        rpy="0 0 0" />
      <mass
        value="17.43" />
      <inertia
        ixx="0.58795"
        ixy="-5.0012E-17"
        ixz="4.2336E-18"
        iyy="1.0418"
        iyz="-1.5713E-17"
        izz="0.58795" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://catamaran/meshes/mount.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://catamaran/meshes/mount.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_to_mount"
    type="fixed">
    <origin
      xyz="0 -0.31037 0.14462"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="mount" />
    <axis
      xyz="0 0 0" />
  </joint>
  <gazebo>
    <buoyancy>
      <use_true_buoyancy>false</use_true_buoyancy>
    </buoyancy>
    <plugin name="BuoyancyPlugin" filename="libuuv_buoyancy_plugin.so">
      <fluid_density>1000</fluid_density>
      <link name="base_link">
        <center_of_volume>0, 0.00921, 0.2079</center_of_volume>
        <volume>0.55178</volume>
      </link>
      <!-- <link name="r_thruster">
        <center_of_volume>-0.56166 -0.45494 -0.57687</center_of_volume>
        <volume>0.00490</volume>
      </link>
      <link name="l_thruster">
        <center_of_volume>0.55834 -0.45494 -0.57687</center_of_volume>
        <volume>0.00490</volume>
      </link> -->
    </plugin>
  </gazebo>
</robot>