<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find triton)/urdf/catamaran_full.urdf.xacro"/>

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find triton)/config/config.rviz"/>
</launch>