<?xml version="1.0"?>
<launch>
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="true"/>
    <arg name="verbose" default="false"/>
    <arg name="rviz" default="false"/>
    <arg name="control" default="false"/>

    <env name="GAZEBO_MODEL_PATH" value="$(find triton)/models"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find triton)/worlds/water_world.sdf"/>
        <!-- <arg name="world_name" value="$(find wave_gazebo)/worlds/ocean.world" /> -->
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="verbose" value="$(arg verbose)"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro $(find triton)/urdf/catamaran_full.urdf.xacro"/>
    <!-- <param name="robot_description" command="cat $(find catamaran)/urdf/catamaran.urdf"/> -->

    <node pkg="gazebo_ros"  type="spawn_model" name="spawn_model" args="-urdf -param robot_description -model catamaran_full -z 2"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

    <node if="$(arg control)" name="thruster_teleop" pkg="triton" type="thruster_teleop.py" output="screen" launch-prefix="gnome-terminal --command"/>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find triton)/config/config.rviz"/>
</launch>